# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native files and credentials
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro bundler health check
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS system files
.DS_Store
*.pem

# Windows system files
Thumbs.db

# Local environment files
.env
.env*.local

# TypeScript build info
*.tsbuildinfo

# Sample apps or examples
app-example

# Android / iOS folders (if you eject)
android/
ios/

# VSCode settings
.vscode/
